<%= form_with(model: @mouth, local: true ,url: choose_new_or_edit ) do |form| %>

  <% if @mouth.errors.any? %>
    <div id="error_explanation">
      <h2><%= @mouth.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @mouth.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :内容 %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, 'data-provider': :summernote %> #この行
  </div>
  <%= form.submit value="投稿する"%>
<% end %>
<%= link_to "ブログ一覧画面にもどる", mouths_path %>
